# Copier ce fichier en .env et adapter si nécessaire
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

ES_HOST=elasticsearch
ES_PORT=9200

REDIS_HOST=redis
REDIS_PORT=6379
